.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;

  font-size: 30px;
}

.field + .field {
  margin-left: 10px;
}

.value {
  font-size: 60px;
}

.label {
  color: teal;
}
